body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: start;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 56px;
  min-height: calc(100dvh - 56px);
}
